/* resultats */

table#tablaResultats { width:100%; }
table#tablaResultats th { text-align:left; }
table#tablaResultats th.estado { width:1%; white-space:nowrap; text-align: center; }
table#tablaResultats tr.perDamunt { cursor:pointer; background-color:#ffffe4; }
table#tablaResultats td.estado { width:1%; white-space:nowrap; }
table#tablaResultats td.estado img { margin-right:.5em; }

/* GENERALS */

/* títols */

h2 { font-size:1.6em; font-weight:normal; margin-top:0; }
h3 { font-size:1.2em; }
h4 { font-size:1em; }

/* pàrrafs */

p { margin:1em 0; }
p.tornarArrere { padding-top:1em; border-top:1px dashed #ffbd77; }
p.titol { font-size:1.2em; font-weight:bold; }
/* forms */

form { padding:.5em 1em; font-size:1em; position:relative; }
form.centrat { text-align:center; font-size:0.9em;}
form input, form select { margin-right:1.5em; font-size:1em; }
form p.botonera { text-align:center; border:1px solid #e1e1e1; padding:.5em; }

input.pc25, div.remarcar input.pc25 { width:40%; }

/*
form div#recercaAv { display:none; }
*/

/* divs */

div.atencio { background-color:#ffffe8; border:1px solid #f3f3d2; padding:.1em 1em; text-align:left; font-size:1.2em; }
div.atencio p img { vertical-align:middle; margin-left:1em; }

div#capaInfoForms { position:absolute; display:none; top:0; left:0; width:45em; text-align:center; background:url(../imgs/enviando.gif) no-repeat center 1em #fff; border:1em solid #85bbe4; padding:5em 1em 2em 1em; z-index:12; }
div#capaInfoFondo { position:absolute; display:none; top:0; left:0; width:100%; background-color:#000; z-index:11; padding-bottom:1em; }

#mensaje { display:none; position:fixed; top:0; left:0; z-index:10; width:30em; color:#000; padding:1em 1em 1em 7em; }
#mensaje p.titulo { font-size:1.4em; }
#mensaje ul { list-style:circle; margin-left:1.5em; }
#mensaje ul li { margin-bottom:.4em; }
#mensaje .botonera { text-align:left !important; padding:1.5em 0 1em 0; }
#mensaje button { overflow:visible; font-size:1.1em; font-weight:bold; padding:.2em 1em; margin:0 .5em; cursor:pointer; }

div.ejecutando { background:#fff url(../imgs/mensaje/ejecutando.gif) no-repeat 1em 1.5em; border:1em solid #e9d6c9; }
div.error { background:#fff url(../imgs/mensaje/error.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.correcto { background:#fff url(../imgs/mensaje/correcto.gif) no-repeat 1em 1.5em; border:1em solid #aaddad; }
div.atencion { background:#fff url(../imgs/mensaje/atencion.gif) no-repeat 1em 1.5em; border:1em solid #f2bc00; }
div.informacion { background:#fff url(../imgs/mensaje/informacion.gif) no-repeat 1em 1.5em; border:1em solid #d3eff0; }

#fondo { display:none; position:absolute; z-index:2; top:0; left:0; background-color:#fff; }

form.opcions input.pcCalendario, div.remarcar input.pcCalendario { margin-right:0.5em; }
form.opcions button.pcbuttonCalendario, div.remarcar button.pcbuttonCalendario { margin-right:1.5em; }
