/* Modificacion ZK */
.breeze .z-panel-header {
	font-weight: bold
} /* Panel titulo en negrita */
.breeze .z-window-highlighted-header {
	font-weight: bold
} /* Ventana titulo en negrita */
.z-center {
	border: 0px solid transparent;
} /* Center layout */
.z-center.con_borde {
	border: 1px solid #000066;
}

/* Content layout */
.gtt-content-layout {
	padding: 2px;
	background: #F7F7F7;
	border: 1px solid #000066;
}

/* Script */
.gtt-header-script {
	background: #eeeeee;
	padding: 5px;
	border: 1px solid #E1E1E1;
}

.gtt-label-script {
	font-weight: bold;
}

.gtt-cell-script {
	font-size: 11px;
}

.gtt-cell-script-font {
	font-family: Courier New;
	font-size: 12px;
}

.z-popup .z-popup-cl{
	background: #F7F7F7 no-repeat 0 0;
	background-image: none;
	border: 1px solid #CFCFCF;
	padding-left: 0;
}
/* Titulo descripcion scrip para que sirve cuando se ejecuta que debe devolver */
.gtt-cell-script-titulo {
	font-size: 11px;
	font-weight: bold;
}

/* Header disenyo formulario */
.gtt-header-disenyoFormulario {
	background: #eeeeee;
	padding: 5px;
	border: 1px solid #000066;
}

.gtt-tree-disenyoFormulario {
	font-size: 10px;
}

.gtt-headerPropiedades-disenyoFormulario {
	background: #eeeeee;
	padding: 5px;
	border: 1px solid #000066;
}

.gtt-propiedad-disenyoFormulario {
	font-size: 10px;
}

/* Evitamos que los textarea se puedan cambiar de tamaño en firefox */
textarea {
	resize: none;
}

/* Evitamos que los doble clicks en los grids seleccionen toda la pantalla en firefox, chrome y safari */
.z-listcell {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* .z-listheader { */
/* 	cursor: e-resize; */
/* 	} */

/* groupbox versiones*/
.z-groupbox-cnt.versiones {
	padding: 5px;
}

.caption.versiones {
	padding-left: 5px;
}

.mandatory {
	padding-left: 5px;
	color: red;
}

/* label error eliminar entidades */
.mensajeErrorEntidad {
	font-weight: bold;
}

div.z-grid.sinBorde {
	border: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

tr.z-row.sinRelleno td.z-row-inner,tr.z-row.sinRelleno .z-cell {
	background: white;
	border: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.z-cell {
	color: #363636;
}

/* CABECERA */
div.imc-cap {
	width: 100%;
	font: normal 100% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica,
		sans-serif;
}

.idiomes {
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	width: 100%;
	text-align: right;
	padding: .3em 0 .2em 0;
	background: transparent url(../images/fons_idioma.gif) repeat-x left
		bottom;
}

.z-label.label_idiomes {
	display: inline;
	margin-right: 1em;
	font: normal 0.8em Arial, Helvetica, sans-serif, "Arial Narrow";
	color: #000;
}

.z-a.a_idiomes {
	text-decoration: none;
	color: #000;
}

.z-a.a_idiomes:hover {
	text-decoration: underline;
	color: #000;
}

div.imc-cap .marc {
	overflow: hidden;
	width: 100%;
	color: #fff;
	padding: 0 0 .5em 0;
	background: #456b84 url(../images/fons.gif) repeat-x left top;
}

div.imc-cap div.entorn {
	width: 100%;
	height: 1em;
	font-size: .5em;
	border-bottom: 1px solid #fff;
}

div.imc-cap span.entorn {
	position: relative;
	top: -0.75em;
	font-style: italic;
	font-weight: bold;
	padding: 0 .6em;
	margin-left: .5em;
	border: 1px solid #fff;;
	border-top: 0;
}

div.imc-cap .entorn-de {
	background-color: #408611;
}

div.imc-cap .entorn-pp {
	background-color: #139390;
}

div.imc-cap .entorn-pr {
	background-color: #c00;
}

div.imc-cap .aplicacio {
	float: left;
	width: 30%;
	min-width: 15em;
	margin: .5em 0 0 1.5em;
	padding-right: 1em;
	border-right: 1px solid #7d98a9;
}

div.imc-cap .aplicacio .imc-p .entradeta {
	font: normal 100% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica,
		sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	font-style: italic;
}

div.imc-cap .aplicacio .imc-p .titol {
	font: normal 100% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica,
		sans-serif;
	font-size: 1.7em;
	font-style: italic;
}

div.imc-cap .usuari {
	overflow: hidden;
	width: 40%;
	min-width: 10em;
	float: left;
	padding: 0 2em;
	margin-top: .5em;
}

div.imc-cap .usuari div.nom {
	width: 100em;
}

div.imc-cap .usuari .nom {
	font: bold .9em Georgia, "Times New Roman", Times, serif;
	line-height: 1.4em;
}

div.imc-cap .usuari .perfil {
	font: .9em Georgia, "Times New Roman", Times, serif;
	line-height: 1.4em;
	font-weight: normal;
	padding-left: 1em;
}

div.imc-cap .logo {
	float: right;
	width: 10%;
	min-width: 11em;
	width: 12em;
	height: 4.2em;
	margin-right: 1.5em;
	padding-top: .5em;
	background: transparent url(../images/gva.png) no-repeat center right;
	border-left: 1px solid #7d98a9;
}

/* Miga de pan */
.miga {
	padding: .1em 0;
	margin: 0;
	border: 1px solid #456b84;
}

.div_miga {
	background: transparent url(../images/mollaPa.gif) no-repeat 15px 3px;
}

.label_miga {
	display: inline;
	font: normal 95% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica,
		sans-serif;
	margin-left: 1.2em;
}

.a_miga {
	color: #000;
	padding-left: .9em;
	text-decoration: none;
}

.a_miga:hover {
	text-decoration: underline;
}

/* menuitem y menubar*/
.z-menu-item .z-menu-item-btn {
	font-weight: bold;
	color: white;
}

.z-menubar-hor {
	background: transparent;
	border-style: none;
}

.z-menubar-hor DIV {
	*font-weight: bold;
	*color: white;
}

.z-codemirror.textboxSql{
	margin-bottom: 5px; 
	background-color: white; 
	border: 1px inset #E6E6E6;
}