@charset "utf-8";

/* formateig */

body, form, table, caption, tr, th, td, ul, ol, li, dl, dt, dd, img, p, h1, h2, h3, h4, h5, h6, object, iframe, legend, fieldset { font-size:1em; margin:0; padding:0; outline:0; border:0; }

/* generic */

body { font:80% 'TrebuchetMS','Trebuchet MS',Arial,Helvetica,sans-serif; color:#666; background-color:#fff; }

a { color:#000; text-decoration:none; cursor:pointer; }
a:hover { color: #c33; }
	a.imc-destacat { color:#c33; }
	a.imc-destacat:hover { color:#000; text-decoration:underline; }

.imc-invisible { display:none !important; }

/* body */

.imc-missatge { display:none; position:fixed; z-index:100; top:50%; left:50%; margin:auto auto; width:40em; height:10em; margin-top:-5em; margin-left:-20em; }
.imc-missatge-contingut {
	padding:4em 1em 1em;
	background:#fff url(../imgs/enviando.gif) no-repeat 50% 1em;
	border:10px solid #85bbe4;
	-moz-box-shadow: 0 0 1em rgb(68,68,68);
	-webkit-box-shadow: 0 0 1em rgb(68,68,68);
	-ms-box-shadow: 0 0 1em rgb(68,68,68);
	-o-box-shadow: 0 0 1em rgb(68,68,68);
	box-shadow: 0 0 1em rgb(68,68,68);
	}
	.imc-mi p { text-align:center; }
	.imc-mi p.imc-mi-titol { font-size:1.3em; }

.imc-missatge-fons { position:absolute; z-index:99; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:.5; } 

.no-opacity .imc-missatge-fons {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}
	
#imc-contenidor { width:58em; padding:1.2em 0; margin:0 auto; }

.imc-cap { text-align:center; border-bottom: 1px solid #ccc; }
	.imc-cap img { font-size:2em; font-weight:bold; color:#000; width:8.3em; height:2.5em; }
	.imc-cap h1 { font-size:1.4em; font-weight:bold; text-align:center; padding:.2em 0;  }
	.imc-cap .imc-usuari { padding-bottom:.3em; }
		.imc-cap .imc-usuari p,
		.imc-cap .imc-usuari ul { display:inline; list-style:none; font-size:.9em; }
		.imc-cap .imc-usuari ul { padding-left:.5em; margin-left:.8em; border-left:1px solid #ccc; }
		.imc-cap .imc-usuari li { display:inline; padding-left:.5em; }
		.imc-cap .imc-usuari a { font-weight:bold; padding-left:1.4em; }
		.imc-cap .imc-usuari a.imc-usuari-guarda { background:transparent url(../imgs/guarda-clau.gif) no-repeat left center; }
		.imc-cap .imc-usuari a.imc-usuari-elimina { font-weight:normal; color:#c33; background:transparent url(../imgs/elimina-tramit.gif) no-repeat left center; }
	
h2 { min-height:1.8em; font-size:1em; font-style:italic; font-weight:bold; line-height:1.2em; padding:.8em 1em .8em 5em; margin-bottom:.8em; background:#FFFFE4 url(../imgs/nom_tramit.gif) no-repeat 1em .5em; }

nav { margin-top:1em; }
	nav ul { list-style:none; text-align:center; }
	nav li { display:inline-block; width:24%; vertical-align:middle; border:1px solid #ededed; }
	nav a,
	nav span { display:block; text-align:left; font-size:1.4em; font-variant:small-caps; line-height:1em; padding:1em;
		-moz-transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		-kthtml-transition: all .2s linear;
		transition: all .2s linear;
	}
		
	nav a:hover, nav a:focus {
		-moz-transition: all .2s linear;
		-webkit-transition: all .2s linear;
		-ms-transition: all .2s linear;
		-o-transition: all .2s linear;
		-kthtml-transition: all .2s linear;
		transition: all .2s linear;
	}
	
	nav a.imc-nav-abandona { color:#fff; text-align:right; padding:.5em 1em; background-color:#C68484;
		background-image:url(../imgs/nav/bt-abandona-icon.png), url(../imgs/nav/bt-abandona-cercle.png);
		background-repeat:no-repeat, no-repeat;
		background-position:1.5em 50%, 1.05em -2em;
	}
	
	nav a.imc-nav-abandona,
	nav a.imc-nav-anterior { text-align:right; }
	
	nav a.imc-nav-anterior {
		color:#000; background-color:#FFEACC;
		background-image:url(../imgs/nav/bt-anterior-icon.png), url(../imgs/nav/bt-anterior-cercle.png);
		background-repeat:no-repeat, no-repeat;
		background-position:1.55em 50%, 1em -2em;
	}
	nav a.imc-nav-seguent {
		color:#000; background-color:#FFEACC;
		background-image:url(../imgs/nav/bt-seguent-icon.png), url(../imgs/nav/bt-anterior-cercle.png);
		background-repeat:no-repeat, no-repeat;
		background-position:82% 50%, 86% -2em;
	}
	
	nav a.imc-nav-finalitza { color:#fff; background-color:#88c684;
		background-image:url(../imgs/nav/bt-finalitza-icon.png), url(../imgs/nav/bt-abandona-cercle.png);
		background-repeat:no-repeat, no-repeat;
		background-position:83% 50%, 86% -2em;
	}
	
	nav a.imc-nav-abandona:hover,
	nav a.imc-nav-abandona:focus { background-color:#ae4646; background-position:1.5em 50%, 1.05em 50%; }
	
	nav a.imc-nav-anterior:hover,
	nav a.imc-nav-anterior:focus { background-color:#e3bd86; background-position:1.55em 50%, 1.1em 50%; }

	nav a.imc-nav-seguent:hover,
	nav a.imc-nav-seguent:focus { background-color:#e3bd86; background-position:82% 50%, 86% 50%; }
	
	nav a.imc-nav-finalitza:hover,
	nav a.imc-nav-finalitza:focus { background-color:#5cb057; background-position:83% 50%, 86% 50%; }
	
	.no-multiplebgs nav a.imc-nav-abandona {
		background-image:url(../imgs/nav/bt-abandona-icon.png);
		background-repeat:no-repeat;
		background-position:1.5em 50%;
	}
	
	.no-multiplebgs nav a.imc-nav-anterior {
		background-image:url(../imgs/nav/bt-anterior-icon.png);
		background-repeat:no-repeat;
		background-position:1.55em 50%;
	}
	.no-multiplebgs nav a.imc-nav-seguent {
		background-image:url(../imgs/nav/bt-seguent-icon.png);
		background-repeat:no-repeat;
		background-position:82% 50%;
	}
	
	.no-multiplebgs nav a.imc-nav-finalitza {
		background-image:url(../imgs/nav/bt-finalitza-icon.png);
		background-repeat:no-repeat;
		background-position:83% 50%;
	}
	
aside { overflow:hidden; width:100; font-size:.9em; padding:2em 0 1em 0; }
	aside p.imc-govern { float:left; width:25%; }
	aside address { float:left; width:50%; line-height:1.4em; }
	aside p.imc-ajuda-suport { float:left; width:24%; }

/* inputs, select, textarea */

input[type=text],
input[type=number],
input[type=date],
input[type=time],
textarea {
	font:normal 1em Arial, Helvetica, sans-serif;
	color:#626A72;
	padding:.2em;
	background-color:#fff;
	border:2px solid #ccc;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-kthtml-transition: all .3s linear;
	transition: all .3s linear;
}

input[type=text],
input[type=number],
input[type=date],
input[type=time] { height:1.5em; padding:.1em 0 0 .2em; }

input[disabled],
textarea[disabled] { color:#999; background-color:#f8f8f8 !important; }

input[readonly],
textarea[readonly] { background-color:#e0e0e0; }

input[type=date],
input.imc-data { width:10em !important; }

input.imc-no-type-date { width:8em !important; background:#fff url(../imgs/ico-data.gif) no-repeat right center; }
input.imc-no-type-date:focus { background-image:url(../imgs/ico-data-on.gif); }

input.imc-hora { width:4.5em !important; }
input.imc-no-type-time { width:4em !important; }

input:focus, textarea:focus {
	/*background-color:#ffc;*/
	border-color:#add275;
	-moz-box-shadow: 0 0 .3em rgb(150,150,150);
	-webkit-box-shadow: 0 0 .3em rgb(150,150,150);
	-ms-box-shadow: 0 0 .3em rgb(150,150,150);
	-o-box-shadow: 0 0 .3em rgb(150,150,150);
	box-shadow: 0 0 .3em rgb(150,150,150);
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	-kthtml-transition: all .3s linear;
	transition: all .3s linear;
}

button { overflow:visible; font:normal .8em Arial, Helvetica, sans-serif; color:#000; cursor:pointer; padding:0 .5em; }
button[disabled] { cursor:default; }
	button[disabled] span {
		opacity:.4;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
  }
	
	.no-opacity button[disabled] span {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		filter: gray;
	}

/* title */

#title { position: absolute; z-index: 10; max-width: 20em; font-size: 1.1em; }
	#title p { color: #fff; padding: .3em .8em .4em .8em; margin: 0; background: #333; }
	#title div.cueta-baix { position: relative; z-index: 1; width: 1.3em; height: .7em; background: transparent url(../imgs/title/cueta_baix.gif) no-repeat right top; }
	#title div.cueta-baix-dreta { width: 19em; }
	#title p {
		-moz-border-radius: .5em;
		-webkit-border-radius: .5em;
		-ms-border-radius: .5em;
		-o-border-radius: .5em;
		border-radius: .5em;
		-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
		-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
		-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
		-o-box-shadow: .2em .2em .5em rgb(150,150,150);
		box-shadow: .2em .2em .5em rgb(150,150,150);
	}

	.no-boxshadow #title p {
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc');
	}
	
/* formulari */

header.imc-form-titol { clear:both; overflow:hidden; width:100%; margin-bottom:.5em; border-bottom:.5em solid #FFEACC; }

	header.imc-form-titol p.imc-pas { float:left; width:8.5em; font-size:.9em; font-weight:bold; color:#000; text-align:center; padding:.4em 0 .5em 0; background-color:#FFEACC; }
	header.imc-form-titol .imc-form-titol { overflow:hidden; float:left; max-width:27em; height:2.5em; padding:.3em 0 0 2em; margin-left:1.5em; background:transparent url(../imgs/ico_form.gif) no-repeat 0 1em; }
	header.imc-form-titol .imc-form-titol p { font-size:.8em; text-transform:uppercase; }
	header.imc-form-titol .imc-form-titol h3 { font-size:1.2em; font-weight:bold; line-height:.9em; white-space:nowrap; }
	header.imc-form-titol p.imc-form-paginacio { float:left; height:2.5em; padding-left:1em; margin-left:1em; border-left:1px solid #ccc; }
		header.imc-form-titol p.imc-form-paginacio span { display:block; font-size:.9em; padding-top:1.5em; }
	
	header.imc-form-titol .imc-ajuda { float:right; font-size:.9em; text-align:right; padding-top:.4em; }
		header.imc-form-titol .imc-ajuda p { padding-left:2em; background:transparent url(../imgs/ajuda.gif) no-repeat 0 50%; }
		header.imc-form-titol .imc-ajuda-desactivada p { opacity:.5; }
		.no-opacity header.imc-form-titol .imc-ajuda-desactivada p {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 			filter: alpha(opacity=50);
		}
		
	header.imc-pasos { height:3.4em; border-bottom:.5em solid #FFEACC; }
		header.imc-pasos ul { list-style:none; }
		header.imc-pasos li { float:left; width:8em; text-align:center; line-height:1.2em; padding:.4em 1.8em .4em 0; background:#f8f8f8 url(../imgs/fletxa.gif) no-repeat right center; }
		header.imc-pasos li.imc-pasos-ultim { background-image:none; padding-right:0; }
		header.imc-pasos li.imc-pasos-seleccionat { height:2.65em; color:#000; font-weight:bold; background-color:#FFEACC; }

	header.imc-formulari-titol { overflow:hidden; padding:.5em 0; }
		header.imc-fo-ti .imc-fo-ti-text { overflow:hidden; float:left; max-width:27em; height:2.5em; padding:.3em 0 0 2em; margin-left:1.5em; background:transparent url(../imgs/ico_form.gif) no-repeat 0 1em; }
		header.imc-fo-ti .imc-fo-ti-text p { font-size:.8em; text-transform:uppercase; }
		header.imc-fo-ti .imc-fo-ti-text h3 { font-size:1.2em; font-weight:bold; line-height:.9em; white-space:nowrap; }
		header.imc-fo-ti p.imc-fo-ti-paginacio { float:left; height:2.5em; padding-left:1em; margin-left:1em; border-left:1px solid #ccc; }
			header.imc-fo-ti p.imc-fo-ti-paginacio span { display:block; font-size:.9em; padding-top:1.5em; }
	
		header.imc-fo-ti .imc-ajuda { float:right; font-size:.9em; text-align:right; padding-top:.4em; }
			header.imc-fo-ti .imc-ajuda p { padding-left:2em; background:transparent url(../imgs/ajuda.gif) no-repeat 0 50%; }
			header.imc-fo-ti .imc-ajuda-desactivada p { opacity:.5; }
			.no-opacity header.imc-fo-ti .imc-ajuda-desactivada p {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha(opacity=50);
			}
	
	div.imc-errores { font-weight:bold; color:#fff; padding:.5em 1em .7em; margin-bottom:.5em; background-color:#c68484; }
		div.imc-errores ul { list-style:circle; margin-top:.5em; margin-left:2em; }
		div.imc-errores li { padding:.1em 0; }
		
form { clear:both; }

	.imc-form { overflow:hidden; width:100%; background-color:#f8f8f8; border:1px solid #EDEDED; }
	.imc-form-contingut { padding:0 0 0 1.3em; }
	
		.imc-form .imc-separador { clear:both; width:97.5%; height:.5em; font-size:1em; margin-bottom:1em; border-bottom:1px solid #ccc; }
			.imc-form .imc-sep-punt { border-bottom-style:dashed; }
			.imc-form .imc-sep-salt-carro { width:97.5%; height:1px; margin-bottom:0; border-bottom:none; }
				
		.imc-form h4 { clear:both; width:100%; font-size:1.2em; padding-top:.9em; margin:0 0 .6em 0; }
			.imc-form h4.imc-seccio { overflow:hidden; width:100%; }
			.imc-form h4.imc-seccio span { display:block; float:left; color:#fff; padding:.2em 0; background-color:#aaa; border:1px solid #fff; }
			.imc-form h4.imc-seccio span.imc-se-marca { width:5%; text-align:center; border-right:none; }
			.imc-form h4.imc-seccio span.imc-se-titol { width:90%; padding-left:2%; }
		.imc-form p.imc-info { clear:both; width:100%; margin:0 0 1.2em 0; }
		
		.imc-form .imc-element { float:left; width:8.4em; padding:0 0 .7em 0; margin-right:1em; }
			.imc-form .imc-el-etiqueta { padding:0 .2em .2em .2em; }
			.imc-form .imc-el-control {min-height:2em; padding:0 .2em; }
				.imc-form .imc-el-control input[type=text],
				.imc-form .imc-el-control input[type=number] { width:7em; }
				.imc-form .imc-el-control a.imc-select,
				.imc-form .imc-el-control a.imc-select span { width:5em; }
				.imc-form .imc-el-control textarea { width:25.8em; min-width:25.8em; max-width:25.8em; }
				.imc-form .imc-el-control p.imc-el-control-info { display:inline-block; font-style:italic; padding:.2em 0 0 0 }
				
		.imc-form .imc-el-error input[type=text],
		.imc-form .imc-el-error input[type=number],
		.imc-form .imc-el-error input[type=date],
		.imc-form .imc-el-error input[type=time],
		.imc-form .imc-el-error textarea,
		.imc-form .imc-el-error a.imc-select { border-top-color:#C68484; border-left-color:#C68484; }
		.imc-form .imc-el-error .imc-el-etiqueta { color:#aa6d7d; }
		
		.imc-form .imc-el-error input[type=text]:focus,
		.imc-form .imc-el-error input[type=number]:focus,
		.imc-form .imc-el-error input[type=date]:focus,
		.imc-form .imc-el-error input[type=time]:focus,
		.imc-form .imc-el-error textarea:focus,
		.imc-form .imc-el-error a.imc-select:focus { border-top-color:#add275; border-left-color:#add275; }
		
		.imc-form .imc-el-obligatori { color:#000; }
		.imc-form .imc-el-obligatori .imc-el-etiqueta label:before {
			content: "*"; color:#c00; padding-right:.3em;
		}
		.imc-form span.imc-obligatori { color:#c00; padding-right:.3em; }
		
		.imc-form input.imc-data-lectura,
		.imc-form input.imc-hora-lectura { display:none; }
		.imc-form span.imc-data-lectura { display:inline-block; width:7em; font:italic 1em Arial, Helvetica, sans-serif; padding:.25em .5em .1em .5em; margin:0 0 0 .2em; background:#e0e0e0 url(../imgs/ico-data.gif) no-repeat right center; border:2px solid #ccc; }
		.imc-form span.imc-hora-lectura { display:inline-block; width:3em; font:italic 1em Arial, Helvetica, sans-serif; padding:.25em .5em .1em .5em; margin:0 .1em 0 .2em; background-color:#e0e0e0; border:2px solid #ccc; }
		
		.imc-form .imc-el-2 { width:17.8em !important; }
			.imc-form .imc-el-2 input[type=text],
			.imc-form .imc-el-2 input[type=number] { width:16.4em; }
			.imc-form .imc-el-2 a.imc-select,
			.imc-form .imc-el-2 a.imc-select span { width:14.4em; }
			
		.imc-form .imc-el-3 { width:27.2em !important; }
			.imc-form .imc-el-3 input[type=text],
			.imc-form .imc-el-3 input[type=number],
			.imc-form .imc-el-3 textarea { width:25.8em; min-width:25.8em; max-width:25.8em; }
			.imc-form .imc-el-3 a.imc-select,
			.imc-form .imc-el-3 a.imc-select span { width:23.8em !important; }
			
		.imc-form .imc-el-4 { width:36.5em !important; }
			.imc-form .imc-el-4 input[type=text],
			.imc-form .imc-el-4 input[type=number],
			.imc-form .imc-el-4 textarea { width:35.2em; min-width:35.2em; max-width:35.2em; }
			.imc-form .imc-el-4 a.imc-select,
			.imc-form .imc-el-4 a.imc-select span { width:33.2em !important; }
			
		.imc-form .imc-el-5 { width:46em !important; }
			.imc-form .imc-el-5 input[type=text],
			.imc-form .imc-el-5 input[type=number],
			.imc-form .imc-el-5 textarea { width:44.5em; min-width:44.5em; max-width:44.5em; }
			.imc-form .imc-el-5 a.imc-select,
			.imc-form .imc-el-5 a.imc-select span { width:42.5em !important;; }
			
		.imc-form .imc-el-6 { width:55.4em !important; }
			.imc-form .imc-el-6 input[type=text],
			.imc-form .imc-el-6 input[type=number],
			.imc-form .imc-el-6 textarea { width:54em; min-width:54em; max-width:54em; }
			.imc-form .imc-el-6 a.imc-select,
			.imc-form .imc-el-6 a.imc-select span { width:51.9em !important; }
			
		.imc-form .imc-el-ajuda { display:none; position:absolute; z-index:5; top:0; left:0; width:30em; color:#fff; padding:.3em 1em .5em; background-color:#6a8147; }
		.imc-form .imc-el-ajuda-on { display:block; }
		
		.imc-form .imc-el-ajuda-show { 
			-moz-transition: all .3s linear;
			-webkit-transition: all .1s linear;
			-ms-transition: all .1s linear;
			-o-transition: all .1s linear;
			-kthtml-transition: all .1s linear;
			transition: all .1s linear;
		}
		
		.imc-form .imc-el-ajuda {
			-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
			-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
			-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
			-o-box-shadow: .2em .2em .5em rgb(150,150,150);
			box-shadow: .2em .2em .5em rgb(150,150,150);
		}
		
		.no-boxshadow .imc-form .imc-el-ajuda {
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc')";
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc');
		}
		
			.imc-form .imc-el-ajuda .imc-el-aj-pestanya { position:relative; }
				.imc-form .imc-el-ajuda .imc-el-aj-pestanya {
					position:absolute; bottom:-0.25em; left:1em; width:.5em; height:.5em; background-color:#6a8147;
					-webkit-transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					transform:rotate(45deg);
				}
				
				.no-csstransforms .imc-form .imc-el-ajuda .imc-el-aj-pestanya {
					background:transparent url(../imgs/cueta.gif) no-repeat center bottom;
				}
				
			.imc-form .imc-el-ajuda .imc-el-aj-pestanya-dalt { top:-0.25em; bottom:0; }
			.no-csstransforms .imc-form .imc-el-ajuda .imc-el-aj-pestanya-dalt {
					background:transparent url(../imgs/cueta_dalt.gif) no-repeat center top;
				}
		
		.imc-form .imc-element textarea	{ min-height:4.9em; max-height:13.1em; }
		.imc-form .imc-el-files-3 textarea { min-height:8.9em; max-height:13.1em; }
		.imc-form .imc-el-files-4 textarea { min-height:13.1em; max-height:13.1em; }
		
		.imc-form .imc-element fielset { border:none; }
		.imc-form .imc-element legend { display:block; padding:0 0 .2em .2em; }
		.imc-form .imc-element ul { list-style:none; }
		.imc-form .imc-element ul li { padding:.1em 0; }	
		.imc-form .imc-element ul li input { vertical-align:top; }	
		
		.imc-form .imc-el-horizontal ul li { display:inline; padding-right:.5em; }
		
		.imc-form .imc-el-dreta .imc-el-etiqueta,
		.imc-form .imc-el-dreta input,
		.imc-form .imc-el-dreta legend { text-align:right; }
		.imc-form .imc-el-centre .imc-el-etiqueta,
		.imc-form .imc-el-centre input,
		.imc-form .imc-el-centre legend { text-align:center; }
		
		.imc-form .imc-el-dreta .imc-el-etiqueta,
		.imc-form .imc-el-centre .imc-el-etiqueta { padding-right:1em; }
		
		.imc-form .imc-el-multiple { width:17.8em; }
			.imc-form .imc-el-multiple ul { overflow:auto; overflow-x:hidden; width:16.4em; height:4.9em; background-color:#fff; border:2px solid #ccc; }
				.imc-form .imc-el-multiple ul label { display:block; width:100%; }
				.imc-form .imc-el-multiple ul label:hover { background-color:#f2f2f2; }
			
			.imc-form .imc-el-multiple legend { width:16.4em; }
			
			.imc-form .imc-el-multiple.imc-el-3 ul,
			.imc-form .imc-el-multiple.imc-el-3 legend { width:25.8em; }
			.imc-form .imc-el-multiple.imc-el-4 ul,
			.imc-form .imc-el-multiple.imc-el-4 legend { width:35.2em; }
			.imc-form .imc-el-multiple.imc-el-5 ul,
			.imc-form .imc-el-multiple.imc-el-5 legend { width:42.5em; }
			.imc-form .imc-el-multiple.imc-el-6 ul,
			.imc-form .imc-el-multiple.imc-el-6 legend { width:53.8em; }
		
		.imc-form .imc-el-files-3	> ul { height:8.9em !important; }
		.imc-form .imc-el-files-4	> ul { height:12.9em !important; }
		
		.imc-form fieldset ul { margin:0 0 0 .2em !important; }
		
		.imc-form .imc-el-arbre { width:17.8em; }
			.imc-form .imc-el-arbre > ul { overflow:auto; overflow-x:hidden; width:16.4em; height:8.9em; background-color:#fff; border:2px solid #ccc; }
				.imc-form .imc-el-arbre ul ul li { padding-left:1.5em; }
				.imc-form .imc-el-arbre ul ul { display:none; }
				.imc-form .imc-el-arbre ul li p { }
					.imc-form .imc-el-arbre ul li p.imc-amb-fills { padding-left:1.9em; background:transparent url(../imgs/arbre-off.gif) no-repeat .3em 50%; }
					.imc-form .imc-el-arbre ul li p.imc-amb-fills:hover { cursor:pointer; background-color:#f2f2f2 !important; }
					.imc-form .imc-el-arbre ul li p.imc-amb-fills-on { background-image:url(../imgs/arbre-on.gif); }
			
			.imc-form .imc-el-arbre legend { width:16.4em; }
			
			.imc-form .imc-el-arbre.imc-el-3 > ul,
			.imc-form .imc-el-arbre.imc-el-3 legend { width:26em; }
			.imc-form .imc-el-arbre.imc-el-4 > ul,
			.imc-form .imc-el-arbre.imc-el-4 legend { width:35.2em; }
			.imc-form .imc-el-arbre.imc-el-5 > ul,
			.imc-form .imc-el-arbre.imc-el-5 legend { width:44.7em; }
			.imc-form .imc-el-arbre.imc-el-6 > ul,
			.imc-form .imc-el-arbre.imc-el-6 legend { width:54em; }
		
			.imc-form .imc-el-arbre input.imc-arbre-lectura,
			.imc-form .imc-el-arbre label.imc-arbre-lectura { display:none; }
			.imc-form .imc-el-arbre span.imc-arbre-lectura { display:inline-block; padding:.1em 0 .1em 1.8em; background:transparent url(../imgs/arbre-lectura.gif) no-repeat .3em 50%; }
		
			.imc-form .imc-el-arbre .imc-arbre-input-seleccionat span.imc-arbre-lectura { background-image:url(../imgs/arbre-lectura-seleccionat.gif) !important; }
		
		.imc-form .imc-el-taula .imc-el-taula-elements { margin:0 0 0 .2em !important; }
		
		.imc-form .imc-el-taula { width:55.4em; }
			.imc-form .imc-el-taula .imc-el-taula-botonera { padding-right:1em; }
			.imc-form .imc-el-taula ul { float:left; height:1.8em; }
				.imc-form .imc-el-taula ul li { display:inline; padding:0 !important; }
				.imc-form .imc-el-taula ul.imc-el-ta-bo-posicio { float:right; }
			.imc-form .imc-el-taula div.imc-el-taula-elements { clear:both; overflow:auto; overflow-x:hidden; width:54em; height:12.1em; background-color:#fff; border:2px solid #ccc; }
				.imc-form .imc-el-taula div.imc-el-taula-elements p { font-style:italic; color:#333; padding:.3em .5em; }
			
			.imc-form .imc-el-taula table { width:100%; border-collapse:collapse; empty-cells:show; }
			.imc-form .imc-el-taula th.imc-check { width:1em; background:none !important; }
			.imc-form .imc-el-taula th { text-align:left; padding:.2em 0 .4em .8em; background-color:#f2f2f2; border-right:1px solid #fff; }
				.imc-form .imc-el-taula th span { font-size:.8em; text-transform:uppercase; }
			.imc-form .imc-el-taula td { padding:.3em .8em; }
			.imc-form .imc-el-taula td.imc-check { padding:0; }
			
			/* tbody scroll */
			.imc-form .imc-el-taula .imc-table,
			.imc-form .imc-el-taula .imc-thead { overflow:hidden; width:100%; }
			.imc-form .imc-el-taula .imc-thead { width:24.5em; }
				.imc-form .imc-el-taula .imc-thead .imc-th { float:left; }
			.imc-form .imc-el-taula .imc-th.imc-check { width:9%; background:none !important; }
			.imc-form .imc-el-taula .imc-th { text-align:left; background-color:#f2f2f2; border-right:1px solid #fff; }
				.imc-form .imc-el-taula .imc-th span { display:block; font-size:.8em; text-transform:uppercase; padding:.2em 0 .4em .8em; }
			
			.imc-form .imc-el-taula .imc-tbody-scroll { overflow:auto; height:10.4em; }
			.imc-form .imc-el-taula .imc-tbody { width:52.5em; }
			.imc-form .imc-el-taula .imc-tbody .imc-tr { overflow:hidden; width:100%; }
			.imc-form .imc-el-taula .imc-td { float:left; }
			.imc-form .imc-el-taula .imc-td.imc-check { width:9%; text-align:center; padding-left:0; }
				.imc-form .imc-el-taula .imc-td span { display:block; padding:.3em .8em; }

			.imc-form .imc-el-taula .imc-thead,
			.imc-form .imc-el-taula .imc-tbody { width:52.5em; }

			.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera { float:right; width:2em; padding-right:1em; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera ul { float:none; height:inherit; margin-bottom:.4em; }
			.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera li { display:block; text-align:right; line-height:1em; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button { width:2.2em; height:2em; position:relative; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera span { display:none; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera span.imc-bt-icona { display: block; position:absolute; top:.1em; left:.4em; width:1em; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button.imc-bt-afegix span { background:transparent url(../imgs/bt-afegix.gif) no-repeat center center; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button.imc-bt-elimina span { background:transparent url(../imgs/bt-elimina.gif) no-repeat center center; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button.imc-bt-modifica span { background:transparent url(../imgs/bt-modifica.gif) no-repeat center center; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button.imc-bt-puja span { background:transparent url(../imgs/bt-puja.gif) no-repeat center center; }
				.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button.imc-bt-baixa span { background:transparent url(../imgs/bt-baixa.gif) no-repeat center center; }
				
			.imc-form .imc-el-taula-botonera-lateral .imc-el-ta-bo-posicio { padding-top:1em; }
			
			.imc-form .imc-el-taula-botonera-lateral legend { width:23.5em; }	
			.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-elements { float:left; clear:none; width:51.7em; height:13.9em; }
			
			.imc-form .imc-el-taula legend { width:54em; }
			
			.imc-form .imc-el-taula .imc-el-taula-elements,
			.imc-form .imc-el-taula legend { width:54em; }
			
			.imc-form .imc-el-taula-botonera-lateral legend { width:23.9em; }
			
			.imc-form .imc-el-taula-botonera-lateral .imc-el-taula-elements,
			.imc-form .imc-el-taula-botonera-lateral legend { width:51.7em; }
			
			.imc-form .imc-el-taula-botonera-lateral .imc-thead,
			.imc-form .imc-el-taula-botonera-lateral .imc-tbody { width:50em; }
			
			.imc-form .imc-el-taula-botonera-lateral .imc-tbody-scroll { height:12.2em; }

			
		/* taula de elements */
		
		.imc-form .imc-element.imc-el-table { width:9.2em; padding-bottom:0; margin-right:0; }
		
			.imc-form .imc-el-table.imc-el-2 { width:18.4em !important; }
				.imc-form .imc-el-table.imc-el-2 input,
				.imc-form .imc-el-table.imc-el-2 textarea { width:16.2em; }
				.imc-form .imc-el-table.imc-el-2 .imc-select { width:14.2em; }
			.imc-form .imc-el-table.imc-el-3 { width:27.6em !important; }
				.imc-form .imc-el-table.imc-el-3 input,
				.imc-form .imc-el-table.imc-el-3 textarea { width:25.4em; min-width:25.4em; max-width:25.4em; }
				.imc-form .imc-el-table.imc-el-3 .imc-select { width:23.4em; }
			.imc-form .imc-el-table.imc-el-4 { width:36.8em !important; }
				.imc-form .imc-el-table.imc-el-4 input,
				.imc-form .imc-el-table.imc-el-4 textarea { width:34.6em; min-width:34.6em; max-width:34.6em; }
				.imc-form .imc-el-table.imc-el-4 .imc-select { width:32.6em; }
			.imc-form .imc-el-table.imc-el-5 { width:46em !important; }
				.imc-form .imc-el-table.imc-el-5 input,
				.imc-form .imc-el-table.imc-el-5 textarea { width:43.8em; min-width:43.8em; max-width:43.8em; }
				.imc-form .imc-el-table.imc-el-5 .imc-select { width:41.8em; }
			.imc-form .imc-el-table.imc-el-6 { width:55.2em !important; }
				.imc-form .imc-el-table.imc-el-6 input,
				.imc-form .imc-el-table.imc-el-6 textarea { width:53em; min-width:53em; max-width:53em; }
				.imc-form .imc-el-table.imc-el-3 .imc-select { width:51em; }

			.imc-form .imc-el-ta-buida .imc-el-etiqueta,
			.imc-form .imc-el-ta-buida .imc-el-control { border:none !important; }
			
			.imc-form .imc-el-table .imc-el-etiqueta { min-height:2.5em; padding:.5em .5em 0 .5em; }
			.imc-form .imc-el-table .imc-el-control { min-height:2.5em; padding:.5em .5em 0 .5em; }
			
			.imc-form .imc-el-ta-cap .imc-el-etiqueta { font-weight:bold; border:1px solid #ccc; }
			.imc-form .imc-el-ta-cap .imc-el-control { display:none; }
			
			.imc-form .imc-el-ta-cela .imc-el-etiqueta { display:none; }
			.imc-form .imc-el-ta-cela .imc-el-control { border:1px solid #ccc; }
			
			.imc-form .imc-el-table.imc-el-files-2 .imc-el-etiqueta,
			.imc-form .imc-el-table.imc-el-files-2 .imc-el-control { height:5.6em; }
			.imc-form .imc-el-table.imc-el-files-3 .imc-el-etiqueta,
			.imc-form .imc-el-table.imc-el-files-3 .imc-el-control { height:9.6em; }
			.imc-form .imc-el-table.imc-el-files-4 .imc-el-etiqueta,
			.imc-form .imc-el-table.imc-el-files-4 .imc-el-control { height:13.6em; }
			
			.imc-form .imc-el-table.imc-el-files-2 textarea { height:4.3em; min-height:4.3em; max-height:4.3em; }
			.imc-form .imc-el-table.imc-el-files-3 textarea { height:8.3em; min-height:8.3em; max-height:8.3em; }
			.imc-form .imc-el-table.imc-el-files-4 textarea { height:12.3em; min-height:12.3em; max-height:12.3em; }
	
	.imc-form ul.imc-sols-lectura { display:none; }
	.imc-form span.imc-sols-lectura { display:inline-block; font-style:italic; padding:.15em .5em; margin:0 .5em 0 .2em; background-color:#e0e0e0; }
	.imc-form span.imc-sols-lectura-cap { display:block; font-style:italic; padding:.15em .5em; margin:0 .5em 0 .2em; background-color:#e0e0e0; }
	
	.imc-form .imc-el-multiple div.imc-el-multiple-lectura { overflow:auto; overflow-x:hidden; width:16.4em; height:4.9em; background-color:#fff; border:2px solid #ccc; }
		.imc-form .imc-el-multiple div.imc-el-multiple-lectura span { display:block; margin:.2em .5em .2em .2em; }
			
	.imc-form .imc-el-multiple.imc-el-3 div.imc-el-multiple-lectura { width:25.8em; }
	.imc-form .imc-el-multiple.imc-el-4 div.imc-el-multiple-lectura { width:35.2em; }
	.imc-form .imc-el-multiple.imc-el-5 div.imc-el-multiple-lectura { width:42.5em; }
	.imc-form .imc-el-multiple.imc-el-6 div.imc-el-multiple-lectura { width:53.8em; }
		
	.imc-form .imc-el-files-3	> div.imc-el-multiple-lectura { height:8.9em !important; }
	.imc-form .imc-el-files-4	> div.imc-el-multiple-lectura { height:12.9em !important; }
	
	.imc-form .imc-el-check { width:55.5em !important; }
		.imc-form .imc-el-check input { vertical-align:top; }
		.imc-form .imc-el-check span { margin-left:.4em; }
	
	.imc-form label.imc-check-lectura input { display:none; }
	.imc-form label.imc-check-lectura span { padding-left:1.6em; background:transparent url(../imgs/arbre-lectura-seleccionat.gif) no-repeat left center; }
	.imc-form label.imc-check-lectura-noSel span { background-image:url(../imgs/arbre-lectura.gif); }
	
	.imc-form { border:none; }
		.imc-form .imc-el-botonera { position:fixed; z-index:1; top:0; right:0; width:30em; text-align:right; padding-top:.5em; border:none; }
			.imc-form .imc-el-botonera ul { list-style:none; }
			.imc-form .imc-el-botonera li { display:inline; }
			.imc-form .imc-el-botonera button { font-size:1em; padding:0 .5em; margin:0; }
				.imc-form .imc-el-botonera button span { padding-left:1.3em; }
				.imc-form .imc-el-botonera button.imc-bt-ta-guarda-i-nou span { background:transparent url(../imgs/bt-taula-guarda-nou.gif) no-repeat left center; }
				.imc-form .imc-el-botonera button.imc-bt-ta-guarda span { background:transparent url(../imgs/bt-taula-guarda.gif) no-repeat left center; }
				.imc-form .imc-el-botonera button.imc-bt-ta-cancela span { background:transparent url(../imgs/bt-taula-cancela.gif) no-repeat left center; }
	
	.imc-el-taula-iframe { position:absolute; z-index:2; left:50%; width:59em; margin-left:-29em; background-color:#fff;
		-moz-box-shadow: 0 0 1em rgb(68,68,68);
		-webkit-box-shadow: 0 0 1em rgb(68,68,68);
		-ms-box-shadow: 0 0 1em rgb(68,68,68);
		-o-box-shadow: 0 0 1em rgb(68,68,68);
		box-shadow: 0 0 1em rgb(68,68,68);
	}
	
	.imc-iframe-fons { position:absolute; z-index:1; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:.5; } 

	.no-opacity .imc-iframe-fons {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}
	
	.imc-el-taula-iframe-centrat { position:fixed; top:50%; left:50%; height:36em; margin-top:-18em; }
	
	/* per esborrar 
	
	.imc-element { background-color:#ccc; }*/
	
	
	
	
	
	