@charset "utf-8";

/* IE.8 */

.imc-form .imc-el-table.imc-el-files-2 .imc-el-etiqueta { height:5.45em; }
.imc-form .imc-el-table.imc-el-files-3 .imc-el-etiqueta { height:9.45em; }
.imc-form .imc-el-table.imc-el-files-4 .imc-el-etiqueta { height:13.45em; }

.imc-form .imc-element textarea	{ height:5.2em; }
.imc-form .imc-el-files-3 textarea { height:9.3em; }
.imc-form .imc-el-files-4 textarea { height:13.2em; }

.imc-form .imc-el-taula-botonera-lateral .imc-el-ta-bo-posicio { padding-top:.5em; }

.imc-form .imc-el-table.imc-el-files-2 .imc-el-control { height:5.5em; }
.imc-form .imc-el-table.imc-el-files-3 .imc-el-control { height:9.5em; }
.imc-form .imc-el-table.imc-el-files-4 .imc-el-control { height:13.5em; }
