@charset "utf-8";

body { }
	
#imc-contenidor { width:100%; padding:0; margin:0; }

.imc-cap,
h2,
nav,
aside,
header.imc-form-titol,
header.imc-pasos,
header.imc-formulari-titol { display:none; }
	
.imc-iframe-botonera { clear:both; width:100%; height:2.3em; text-align:right; padding:.4em 0 0 0; }
	.imc-iframe-botonera ul { list-style:none; margin-right:.5em; }
	.imc-iframe-botonera li { display:inline; }
	.imc-iframe-botonera button { font-size:.8em; padding:.1em .5em; margin:0 .5em 0 0; }
		.imc-iframe-botonera button span { padding-left:1.7em; }
		.imc-iframe-botonera button.imc-bt-ta-guarda-i-nou span { background:transparent url(../imgs/bt-taula-guarda-nou.gif) no-repeat left center; }
		.imc-iframe-botonera button.imc-bt-ta-guarda span { background:transparent url(../imgs/bt-taula-guarda.gif) no-repeat left center; }
		.imc-iframe-botonera button.imc-bt-ta-cancela span { background:transparent url(../imgs/bt-taula-cancela.gif) no-repeat left center; }

.imc-form { overflow:auto; height:5em; border-top:2px solid #ccc; }
.imc-form-contingut { padding-top:.5em; padding-left:1em; }
	
	
	