<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.datasource">java:/@datasource.jndi@</property>
        <property name="dialect">@hibernate.dialect@</property>

        <property name="show_sql">@hibernate.show_sql@</property>
        <property name="use_outer_join">true</property>

		<!-- LO PONEMOS A 0 PORQUE SINO DA ERROR CON EL TIPO PERSONALIZADO BLOBTYPE -->
        <property name="jdbc.batch_size">0</property>

        <property name="transaction.factory_class">net.sf.hibernate.transaction.JTATransactionFactory</property>
        <property name="transaction.manager_lookup_class">net.sf.hibernate.transaction.JBossTransactionManagerLookup</property>

        <property name="cache.provider_class">net.sf.ehcache.hibernate.Provider</property>
        <property name="cache.use_query_cache">true</property>

        <mapping resource="es/caib/sistra/model/DatosJustificante.hbm.xml" />
        <mapping resource="es/caib/sistra/model/Documento.hbm.xml" />
        <mapping resource="es/caib/sistra/model/DocumentoNivel.hbm.xml" />
        <mapping resource="es/caib/sistra/model/EspecTramiteNivel.hbm.xml" />
        <mapping resource="es/caib/sistra/model/Idioma.hbm.xml" />
        <mapping resource="es/caib/sistra/model/MensajeTramite.hbm.xml" />
        <mapping resource="es/caib/sistra/model/Tramite.hbm.xml" />
        <mapping resource="es/caib/sistra/model/TramiteNivel.hbm.xml" />
        <mapping resource="es/caib/sistra/model/TramiteVersion.hbm.xml" />
        <mapping resource="es/caib/sistra/model/OrganoResponsable.hbm.xml" />
        <mapping resource="es/caib/sistra/model/Dominio.hbm.xml" />
        <mapping resource="es/caib/sistra/model/admin/CuadernoCarga.hbm.xml" />
        <mapping resource="es/caib/sistra/model/admin/FicheroCuaderno.hbm.xml" />
        <mapping resource="es/caib/sistra/model/MensajePlataforma.hbm.xml" />
		<mapping resource="es/caib/sistra/model/GestorFormulario.hbm.xml" />		
        <mapping resource="es/caib/sistra/model/Grupos.hbm.xml" />
        <mapping resource="es/caib/sistra/model/RolGrupoTramite.hbm.xml" />
        <mapping resource="es/caib/sistra/model/RolUsuarioTramite.hbm.xml" />
        <mapping resource="es/caib/sistra/model/GrupoUsuario.hbm.xml" />
    </session-factory>

</hibernate-configuration>
