body
{
	background-color : #E6ECF3;
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	color: Black;
}

p
{
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	color: Black;
	vertical-align: top
}

td
{
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	color: Black;
}

#centrar
{
	width: 100%;
	height: 100%;
	border: 0;
	border:1px solid #ededed; /* #003b80 */
}

#general
{
	/* width: 786px; */
	background-image : url(../images/fondo.gif);
	/*font-family: Verdana, Arial;
	font-size: 11px; */
	color: Black;
}

#cuerpo
{
	width:100%;
	border: 0px;
	background-color:#fff;
	/* width: 786px;
	/* background-image: url(../images/fondo_logo.gif);
	/* background-repeat: no-repeat;
	font-family: Verdana, Arial; */
}

#menu
{
	/* background:url(../images/fondo_logo_iz.jpg) no-repeat #003b80; */
	background-color:#ededed; /* #003b80 */
	width:25%;
	/* width: 203px;
	height: 390px; */
	vertical-align: top;
	padding-right:1em;
	/* font-family: Verdana, Arial; */
}

#menu span { display:block; padding:.8em; }

#menu2
{
	background-color:#003b80;
}

#ayuda
{
	 padding-left: 1em;
	 padding-top: 0;
	 /* width: 156px; */
	 /* font-family: Verdana, Arial; */
	 /* indra */
	 position:relative;
}

#titulo
{
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: Black;
	/* width: 156px; */
	/* font-family: Verdana, Arial;
	font-size: 11px;
	color: White; */
	font-weight: bold;
}

#subtitulo
{
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	/* color: White; */
	/* width: 156px; */
}

#nombre_campo
{
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color:#444;
	/* width: 156px; */
	/* font-family: Verdana, Arial;
	font-size: 11px;
	color: White; */
	font-weight: bold;
	margin-bottom:1em;
}

#ayuda_campo
{
	/* font-family: Verdana, Arial;
	font-size: 11px;
	color: White; */
	/* width: 156px; */
}

#pantallas
{
	/* font-family: Verdana, Arial;
	font-size: 11px;
	color: White; */
	/* width: 156px; */
}

#pantallas a
{
    text-decoration: none;
    /* color: White; */
}

#canal
{
	background-color:#f8f8f8;
	/* background:url(../images/fondo_logo_de.jpg) no-repeat #fff; */
	/* width: 583px; 
	height: 390px; */
	vertical-align: top;
	/* font-family: Verdana, Arial; */
	padding-top:2em;
	padding-bottom:2em;
}

#canal2
{
	background-color:#fff;
}

#contenido
{
	margin-left: 1.5em; /* 120px */
	margin-right: 1.5em;
	/* font-family: Verdana, Arial; */
}

#bajos
{
	/* width: 786px; */
	height: 12px;
	background-image : url(../images/bajos.gif);
	background-repeat: no-repeat;
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	color: black;
}

.leyenda
{
	padding-left: 20px;
	font-weight: bold;
	/* font-family: Verdana, Arial;
	color: white; */
}

/*
h1
{
	margin-left: 20px;
	width: 270px;
	padding-top: 15px;
	font-family: Verdana, Arial;
	font-size: 22px;
}
*/
.frm
{
	/* border : 1px;
	border-style: solid;
	font-family: Verdana, Arial;
	font-size: 11px; */
}

.frmro
{
	/* border : 1px;
	border-style: solid;
	font-family: Verdana, Arial;
	font-size: 11px; */
	background-color: #FFFFCC;
}

.frmdisabled
{
	/* border : 1px;
	border-style: solid;
	font-family: Verdana, Arial;
	font-size: 11px; */
	background-color: #F4F4F4;
}

span.frmro
{
	border : 1px solid #888;
	padding: 0 1em;
	/*
	font-family: Verdana, Arial;
	font-size: 11px; */
	background-color: #FFFFCC;
}

.error
{
	color: Red;
}

textarea
{
	overflow : auto;
	border:1px solid #7f9db9;
	font:normal 1em Arial, Helvetica, sans-serif;
	padding:.2em;
}

/* ******************** */
/* Estilos para labels. */
/* ******************** */

.label1{
	color : Black;
	font-weight : bold;
	/* font-family: Verdana, Arial;
	font-size: 13px; */
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-bottom-color : Black;
}
.label2{
	color : Black;
	font-weight : normal;
	/* font-family: Verdana, Arial;
	font-size: 13px; */
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : Black;

}
.label1maj{
	color : Black;
	font-weight : bold;
	/* font-family: Verdana, Arial;
	font-size: 13px; */
	text-transform : uppercase;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-bottom-color : Black;
}
.label2maj{
	color : Black;
	font-weight : normal;
	/* font-family: Verdana, Arial;
	font-size: 13px; */
	text-transform : uppercase;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : Black;
}
.labelnorm{
	color : Black;
	font-weight : normal;
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	margin-top:2px;
	margin-bottom:6px;
}
.labelnormb{
	color : Black;
	font-weight : bold;
	/* font-family: Verdana, Arial;
	font-size: 11px; */
	margin-top:2px;
	margin-bottom:6px;
}


/* estilos INDRA */

body { font:normal 80% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#666; padding:0; margin:0; background-color:#fff; }
#contenidor { width:58em; margin:1.2em auto; }
#continguts { padding:0 0 2em 0; margin:0; background-color:#fff; }

/* enllaços */

a { color:#000; text-decoration:none; }
a.importante { color:#c33; }

/* imatges */

img { border:0; }

/* titols */

h1 { font-size:1.5em; padding:.5em; margin:0; }
h2 { font-size:1.2em; margin:1em 0; }
h2.marca { background-color:#f4f3ed; }
h3 { font-size:1.2em; margin:0 0 1em 0; }
h4 { font-size:1em; margin:0 0 1em 0; }

/* pàrrafs */

p { margin:1em 0; }

p#titolAplicacio { font-size:1.4em; font-weight:bold; text-align:center; margin:.8em; color: #666666; }
/*
p#titolAplicacio { font-size:1.4em; font-weight:bold; color:#000; padding:.2em 0 .2em 2em; margin:0; border-bottom:1px solid #ccc; }
p#titolAplicacio a { display:block; color:#000; text-decoration:none; }
*/

/* capes */

div.sep { clear:both; height:.1em; font-size:.1em; }
div.ultimo { border-bottom:1px dashed #d1e3f4; height:1em; font-size:.2em; }

/* capçal */

#cap { text-align:center; }

#titolMS { font-size:1.2em; background-color:#fff; border-bottom:.05em solid #fff; color:#000; padding:.3em 0 .3em 4em; font-weight:bold; }
#capsalfranja2 { height:1em; background-color:#fff; font-size:.5em; color:#000; }

/* peu */

#peu { height:3em; font-size:.9em; padding-top:0.5em; border-top:1px solid #ccc;  }
#peu img#logoAD { display:none; /*float:left; position:relative; top:-0.5em;*/ }
#peu ul#enllasos { float:right; margin:0 1em 0 0; }
#peu ul#enllasos li { display:inline; }
#peu ul#enllasos li a { color:#000; }
#peu span.sep { margin:0 .5em; }

/* CONTINGUTS */

h1.autenticacio, h1.certDig, h1.usuCont, h1.anonim, h1.document 
{ position:relative; font-size:1.4em; font-weight:normal; padding:.5em .7em .5em 0; margin:0; border-bottom:1px solid #fff; }
h1.autenticacio { background:url(../images/01autenticacion.gif) no-repeat #fff; }
h1.certDig { background:url(../images/02_01cd.gif) no-repeat #fff; }
h1.usuCont { background:url(../images/02_02uc.gif) no-repeat #fff; }
h1.anonim { background:url(../images/02_03an.gif) no-repeat #fff; }
h1.document { /*background:url(../images/03document.gif) no-repeat #fff;*/ }

/* FORM */

#continguts #formularioFORM { padding:0 0 2em 0; }
#continguts #formularioFORM h2 { padding:.5em 0 .5em 2em; background:url(../images/ico_form.gif) no-repeat left center #fff; margin:0; }

table#botoneraForms { border:0; width:100%; background-color:#fff; margin-top:1em; }
table#botoneraForms td { width:25%; text-align:center; padding:.5em 0; }
table#botoneraForms td#abandonar { border:1px solid #fadfdf; }
table#botoneraForms td#pantallaAnterior { background-color:#ffffcc; }
table#botoneraForms td#pantallaSiguiente { background-color:#ffffcc; }
table#botoneraForms td#terminarTramite { border:1px solid #ceecce; }
table#botoneraForms td#abandonar a { color:#c00; padding:1em 0; line-height:2.3em; }
table#botoneraForms td#pantallaAnterior a { color:#000; padding:1em 0; line-height:2.3em; }
table#botoneraForms td#pantallaSiguiente a { color:#000; padding:1em 0; line-height:2.3em; }
table#botoneraForms td#terminarTramite a { color:#038000; padding: 1em 0; line-height:2.3em; text-decoration:underline; } 
table#botoneraForms td img { vertical-align:middle; margin:0 .5em; }

form span.formEtiqueta { display:block; float:left; width:30%; padding-right:.5em; text-align:right; padding-top:.25em; }
form span.formEtiquetaOb { display:block; float:left; width:30%; padding-right:.5em; text-align:right; padding-top:.25em; color:#0011b8; }
form span.formSep { display:block; clear:both; font-size:.3em; height:.3em; }
form span.formListado { display:block; float:left; }

form span.datosObligatorios { display:block; padding:1em 0; font-size:.9em; color:#0011b8; }
form span.importante { display:block; padding:.1em 1em .1em 3.8em; background:url(../images/ico_importante.gif) no-repeat 1em 1em; border:1px solid #dadab6; }
form span.importante li { margin-bottom:1em; }

form .selectGrandes { font-size:.9em; }

div#capaInfoFondo { position:absolute; display:none; top:0; left:0; width:100%; background-color:#000; z-index:11; padding-bottom:1em; }
div#capaInfoForms { position:absolute; display:none; top:0; left:0; width:25em; text-align:center; background:url(../images/enviando.gif) no-repeat center 1em #fff; border:1em solid #85bbe4; padding:5em 1em 2em 1em; z-index:30; }


/* Estilos treeview */
div#treeContainer { display:block; float:left; position:relative; border:1px solid gray; width:60%;}

#treeContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

#treeContainer table { border:0; empty-cells:show; border-collapse:collapse; border-spacing:0; }

#treeContainer TD {
	FONT-SIZE: 10px;MARGIN: 5px; FONT-FAMILY: Verdana, sans-serif; border:1px solid #f8f8f8;
}

#treeContainer IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;
}
#treeContainer IMG.action {
	CURSOR: pointer
}
#treeContainer A {
	TEXT-DECORATION: none
}
#treeContainer TABLE.menu {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
#treeContainer A:link {
	COLOR: navy
}
#treeContainer A:visited {
	COLOR: navy
}
#treeContainer A:hover {
	COLOR: #993300
}
#treeContainer A.tree {
	
}

#treeContainer span.linkReadonly {
	background-color: #CCCCCC;
}

/* Estilos lista elementos */
div#listaContainer {BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: gray 1px solid; WIDTH: 65%; BORDER-BOTTOM: gray 1px solid; POSITION: relative}
#listaContainer TD {FONT-SIZE: 10px; FONT-FAMILY: Verdana, sans-serif}


#listaContainerTabla { background-color:#fff; empty-cells:show; border:0; border-collapse:collapse; border-spacing:0; }
#listaContainerTabla th { padding:.3em .5em; background-color:#dedede; }
#listaContainerTabla td { padding:.3em .5em; border-bottom:1px solid #dedede; }

button.botonListaElementos {FONT-SIZE: 11px;FONT-FAMILY: Verdana, sans-serif;}

#fondo { display:none; position:absolute; top:0; left:0; width:100%; height:200px; background-color:#fff; z-index:10; }



