/* CSS Document */

body { font:normal 75% Arial, Helvetica, sans-serif; color:#494949; background:url(../imgs/bkg_site.png) repeat-x top #9ec9e3; margin:0; padding:1em 0 0 0; }
#contenidor { margin:0 auto; width:65em; }
#continguts { margin:0; padding:.5em 0 0 0; background-color:#fff; border-bottom:.3em solid #85bbe4; }

#continguts p { position:relative; }

/* capçal ASISTENTE TRAMITACIÓN */

/* #capAT #capsal { padding:0.5em 1em 0.8em 1em; background:url(../imgs/capsal/fondo.gif) repeat-x #003575; color:#fff; } */

#capAT #cap { padding:0.5em 1em 0.8em 1em; background-color:#003575; color:#fff; text-align:left; border-bottom:.3em solid #85bbe4; height: 4em; }

#capAT #cap p#ayuda { float:right; font-size:.9em; margin:0; }
#capAT #cap p#ayuda strong { font-size:1.2em; padding-bottom:.3em; }
#capAT #cap p#ayuda a { color:#fff; }

#capAT p#titolAplicacio { font-size:1.4em; margin:0; color:#000f21; background-color:#85bbe4; padding:.2em 0 .2em 3em; font-weight:bold; }
#capAT p#titolAplicacio a { text-decoration:none; display:block; color:#000f21; }

#capAT div#capsalUsuari { position:relative; background-color:#fff; padding:.3em 0 .3em 1em; color:#000; border-bottom:1px solid #e3e3e3;  }
#capAT div#capsalUsuari img { vertical-align:middle; margin:0 .3em; }

h1.autenticacio { position:relative; font-size:1.7em; font-weight:normal; color:#003878; padding:.5em .7em .5em 4em; margin:0; border-bottom:1px solid #fff; background:url(../imgs/titulo/usu_corre.gif) no-repeat #fff; }

/* capçal PORTAL */

#capPO #cap { padding:0.5em 1em 0.8em 1em; background-color:#003575; color:#fff; text-align:right; border-bottom:.3em solid #85bbe4; }
#capPO #cap a { color:#fff; }
#capPO #cap img.logo { float:left; }
#capPO #cap span.sep { margin:0 .5em; }
#capPO #capsalIdioma { margin:0 0 .7em 0; }
#capPO #capsalIdioma ul { display:inline; margin:0; padding:0; }
#capPO #capsalIdioma ul li { display:inline; margin:0; padding:0; }
#capPO #capsalFerramentes form { display:inline; }
#capPO #capsalFerramentes form img { position:relative; vertical-align:bottom; margin-right:.5em; }

ul#capsalEnllasos { background-color:#efefef; margin:0; padding:.3em .7em; text-align:right; color:#000; border-bottom:1px solid #85bbe4; margin-bottom:0; }
ul#capsalEnllasos li { display:inline; padding-left:1.8em; margin-left:.5em; }
ul#capsalEnllasos li a { color:#002e63; margin-right:.5em; }
ul#capsalEnllasos li.atencio { background:url(../imgs/capsal/ico_atencio.gif) no-repeat left center; }
ul#capsalEnllasos li.mapaWeb { background:url(../imgs/capsal/ico_mapaweb.gif) no-repeat left center; }
ul#capsalEnllasos li.elMeuPortal { background:url(../imgs/capsal/ico_elmeuportal.gif) no-repeat left center; }
ul#capsalEnllasos li.elMeuPortal a { color:#a00; }

span.invisible { display:none; }

/* peu */

#peu { padding-top:0.5em; height:4em; color:#000; border-top:.4em solid #003574; }
#peu img#logoAD { float:left; position:relative; top:-0.5em; }
#peu span.sep { margin:0 .5em; }
#peu ul#enllasos { float:right; margin:0; }
#peu ul#enllasos li { display:inline; margin-left:.7em; }
#peu ul#enllasos li a { color:#000; margin-right:.7em; }

/* continguts */

/* molla pa */

ul#mollaPa { position:relative; margin:0; padding-left:.7em; padding-bottom:.5em; }
ul#mollaPa li { list-style:none; display:inline; padding-right:1.3em; background:url(../imgs/mollapa/flecha.gif) no-repeat right center #fff; }

/* titol PORTAL */

img#titolImg { float:right; position:relative; z-index:1; margin:.5em 1.5em 0 0; }

#continguts h1#titolPagina { position:relative; font-size:1.7em; padding:1em .7em; margin:0; border-top:1px solid #e3e3e3; border-bottom:1px solid #fff; letter-spacing:.05em; }
#continguts #titolOmbra { height:1em; font-size:.5em; background:url(../imgs/titulo/titolombra.gif) repeat-x #fff; }

/* capa con el form */

#info { padding:1em; }

p.atencion { padding:1em 1em 1em 3.5em; background:url(../imgs/iconos/ico_atencion.gif) no-repeat 1em 1em #ffffe8; border:1px solid #f3f3d2; }

img#familia { float:right; border:1px solid #f2f2f2; padding:.5em; }

div.error { padding:1em 1em 0 3.5em; background:url(../imgs/iconos/ico_error.gif) no-repeat 1em 1em #faf4f4; border:1px solid #d6a6a6; margin-right:20em; margin-bottom:1em; }
div.error p { margin-top:0; }

/* formulario */

form#formConfirmacion { border:1px solid #f2f2f2; padding:1em; margin-right:20em; }
form#formConfirmacion label { display:block; padding:.3em 0; }
form#formConfirmacion span.etiqueta { display:block; float:left; width:40%; margin-right:1em; text-align:right; }
form#formConfirmacion input.error { border:1px solid #c00; padding:.15em; background-color:#f7f7f7; }
form#formConfirmacion .botonera { text-align:center; padding:1em; background-color:#f7f7f7; margin-top:1em; }

div.sep { clear:both; height:2em; font-size:1em; }


/* enllaços */

a { color:#0047b2; }
a.importante { color:#c00; }

/* imatges */

img { border:0; }

/* titols */

h1 { font-size:1.3em; margin:0 0 1em 0; background:none; }
h1.invisible, h2.invisible, h3.invisible, h4.invisible { display:none; }

#pieTitulo { background:url(../imgs/titulo/pietitulo.gif) repeat-x #fff; border-top:1px solid #e3e3e3; height:.5em; font-size:.5em; }

/* llistes */

/* tables */

/* pàrrafs */

p { margin:1em 0; }
p.centrado { text-align:center; }

/* capes */

div.ultimo { border-bottom:1px dashed #d1e3f4; height:1em; font-size:.2em; }
div.sepFinal { clear:both; height:1em; background-color:#fff; }

/* pestanyes 

ul#capsalpestanyes { margin:.5em 0 0 0; padding:0; list-style:none; line-height:2em; }
ul#capsalpestanyes li { display:inline; padding:.25em 1em; margin-right:1em; background-color:#e4e4e4; border-bottom:1px solid #fff; }
ul#capsalpestanyes li.seleccionado { color:#fff; background-color:#004595; border-bottom:1px solid #004595; }
ul#capsalpestanyes li a { color:#000; }

*/