body {
    font: 80% 'TrebuchetMS','Trebuchet MS',Arial,Helvetica,sans-serif;
    color: #666;
    padding: 1em;
    background-color: #fff;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: .2em 0;
    margin: 0;
    margin-bottom: 1em;
}

h1, h2, h3 {
    line-height: 1.3em;
}

center div { line-height: 1.5em; margin-bottom: 1em; }

.button {
	display: inline-block;
	color: #000;
	text-align: left;
	/*font: 1.5em 'TrebuchetMS','Trebuchet MS',Arial,Helvetica,sans-serif;*/
	font-variant: small-caps;
	line-height: 1em;
	padding: 1em;
	text-shadow: none;
	border: none;
	border-radius: 0;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	-kthtml-transition: all .2s linear;
	transition: all .2s linear;
}

.button {
	font: 1em 'TrebuchetMS','Trebuchet MS',Arial,Helvetica,sans-serif;
	color: #000;
	text-shadow: none;
	padding: .5em 1em;
	border: none;
	border-radius: 0;
}

.button {
	color: #000;
	padding: .5em 1em;
	background: none;
	background-color: #FFEACC;
	background-image: url(../imgs/nav/bt-finalitza-icon.png), url(../imgs/nav/bt-abandona-cercle.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 83% 50%, 86% -2em;
	text-shadow: none;
	border: none;
	border-radius: 0;
}

.button:hover, .button:focus {
	color: #000;
	text-decoration: none;
	background-color: #e3bd86;
	background-position: 83% 50%, 86% 50%;
}