/* CSS Document */

body, form, table, caption, tr, tr, td, ul, ol, li, dl, dt, dd, img, button, p, h1, h2, h3, h4, h5, h6, object, iframe { margin:0; padding:0; outline:0; }

body { font:normal .75em Arial, Helvetica, sans-serif; color:#494949; background-color:#fff; }

/* form */

a { color:#0047b2; }
p { margin:1em 0; }
button { font-size:.9em; overflow:visible; vertical-align:middle; }
img { border:0; }

/* objetos FORM */

input, select { font-size:1.1em; vertical-align:middle; }
button { padding:.1em .5em; }
button img { vertical-align:middle; margin-right:.3em; }

.formulari { margin:0 auto 0 auto; border:1px solid #ccc; background-color:#f7f7f7; padding:0 1em; text-align:center; }
.formulari select, .formulari label.separacio { margin-right:2em; }
.formulari input.hora { text-align:right; }

.noVisible { display:none; }

#contenidor { width:100%; }

/* cap */

#cap { overflow:hidden; width:100%; background:#ff982b url(../imgs/cap/fons.gif) repeat-x left bottom; }
#cap #logo { float:left; margin:0 1.5em 0 .2em; }
#cap span { display:block; float:left; font-size:1.4em; color:#fff; padding:.5em 0 .4em 1em; border-left:1px solid #fff; }

/* peu */

#peu { clear:both; padding:1em 1em 3em 3em; color:#000; background:url(../imgs/peu/fondo_peu.gif) repeat-x; border-top:.3em solid #ff8400; }

/* seccions */

#seccions { overflow:hidden; width:100%; list-style:none; padding:1em 0 0 0; background-color:#be6200; }
#seccions li { display:block; float:left; text-align:center; margin-left:1em; background-color:#e57700; border-left:1px solid #fff; }
#seccions li:first-child { margin-left:3em; }
#seccions li.selec { font-weight:bold; text-transform:uppercase; padding:.3em 2em .7em 2em; background-color:#fff; }
#seccions li a { display:block; float:left; color:#fff; padding:.3em 2em .7em 2em; }

/* titols */

h1 { font-size:1.7em; font-weight:normal; color:#8a4700; padding:.5em .7em .5em 1.7em; background:#fff url(../imgs/titols/titolombra.gif) repeat-x left bottom; border-bottom:1px solid #fff; }

/* opcions */

#opcions { overflow:hidden; width:70%; list-style:none; margin:2em 0 1em 2em; }
#opcions li { display:block; float:left; text-align:center; margin-left:1em; background-color:#f2f2f2; border:1px solid #ccc; }
#opcions li.selec { font-weight:bold; text-transform:uppercase; padding:.5em 2em 1em 2em; background:#fff url(../imgs/selec.gif) no-repeat center bottom; border-bottom:0; }
#opcions li.selec a { display:inline; float:none; padding:0; }
#opcions li a { display:block; float:left; padding:.3em 2em .7em 2em; }

/* continguts */

.continguts { padding:1em 1em 1em 3em; clear:both; }

.continguts ul { margin-left:3em; }
.continguts ul li { padding-bottom:.5em; }

form.remarcar { padding:.1em 2em; margin:2em 0; background-color:#f2f2f2; }

p.titol { font-size:1.2em; font-weight:bold; }

form.opcions label { display:block; float:left; width:20%; text-align:right; padding-right:1em;position:relative;}
form.opcions label.enLinia { display:inline; float:none; margin-left:2em; }
form.opcions SPAN {display:block; float:left; width:70%; text-align:left; padding-right:1em;position:relative;}

form.opcions input.pc70 { width:70%; }
form.opcions input.pc60 { width:60%; }
form.opcions input.pc50 { width:50%; }
form.opcions select.pc30 { width:30%; }
form.opcions select.pc40 { width:40%; }
form.opcions select.pc20 { width:20%; }
form.opcions select.pc15 { width:11%; }
form.opcions input.pc40 { width:40%; }
form.opcions input.pc30 { width:30%; }
form.opcions textarea.pc40 { width:40%; }

form.opcions p.sep { padding-bottom:1em; border-bottom:1px dashed #ccc; }

form.opcions p.botonera { clear:both; width:100%; text-align:center; padding-top:2em; border-top:1px solid #ccc; }
form.opcions p.botonera button, form.opcions p.botonera input { font-size:1.3em; margin:0 1em; }

form.opcions ul { list-style:none; margin:0; }
form.opcions ul li { padding-bottom:0; }
form.opcions ul li a.esborrar { color:#c00; margin-left:1.5em; }

form.opcions p.titol { width:20%; font-size:1em; text-align:right; margin-top:1.5em; }
form.opcions p.major { font-size:1.2em; }

form.opcions p.enllas { width:20%; text-align:right; }
form.opcions dl { overflow:hidden; width:95%; font-size:1.4em; }
form.opcions dt { float:left; clear:left; width:20%; font-size:.9em; font-variant:small-caps; font-weight:bold; text-align:right; line-height:1.2em; padding:.1em 1em .1em 0; }
form.opcions dd { float:left; width:75%; line-height:1.2em; padding:.1em 0 .5em 0;}

/**estils correcte o incorrecte*/
.correcte { font-size:1.4em; padding:1em 3em 1em 6em; margin:2em 0; background:#fff url(../imgs/fons/correcte.gif) no-repeat 1em 1em; }
.error { font-size:1.4em; padding:1em 3em 1em 6em; margin:2em 0; background:#fff url(../imgs/fons/error.gif) no-repeat 1em 1em; }

/* enrere */

#enrere { padding:1em 2em 3em 0; margin-top:2em; }
#enrere a { padding:.2em 2em; background:#fff url(../imgs/botons/tornar.gif) no-repeat left center; }

/* detall tramit */

form.detall { width:100%; font-size:1.4em; font-style:italic; color:#000; padding:0 0 .1em 0; margin-bottom:2em; background:#ffc url(../imgs/nom_tramit.gif) no-repeat 1em .2em; }
form.detall dl { overflow:hidden; width:95%; font-size:.9em; padding:1em 0 .5em 0; margin-left:4em; }
form.detall dt { float:left; clear:left; width:10%; font-size:.9em; font-variant:small-caps; font-weight:bold; text-align:right; line-height:1.2em; padding:.1em 1em .1em 0; }
form.detall dd { float:left; width:80%; line-height:1.2em; padding:.1em 0 .5em 0; }
form.detall p { text-align:center; }
form.detall p input { font-size:.8em; margin:0 1em; }

/* tabla */

table.historic { width:100%; margin:.5em 0 2em 0; background-color:#fff; empty-cells:show; border-collapse:collapse; border-spacing:0; }
table.historic th { font-size:.9em; font-weight:normal; text-align:left; text-transform:uppercase; padding:.3em 0 1.5em .5em; background-color:#f2f2f2; }
table.historic tfoot td { text-align:center; padding:1em .4em; background-color:#f7f7f7; }
table.historic tbody td { vertical-align:top; padding:1em .4em; border-bottom:1px solid #f2f2f2; }
table.historic tbody tr:hover { background-color:#ffffe4; }
table.historic td.tipus { font:normal .9em Arial, Helvetica, sans-serif; font-variant:small-caps; }
table.historic tr.novetat td.estat { font-weight:bold; padding-left:1.7em; background-image:url(../imgs/novetat.gif); background-repeat:no-repeat; background-position:left center; }
table.historic tr.novetat td a { color:#c33; }
table.historic td.pendent { font-weight:bold; }
table.historic td.accio { font-variant:small-caps; }

/* avis */

div.avis { padding:1em; margin-bottom:2em; border:1px solid #ddd; }
div.avis dl { overflow:hidden; width:95%; font-size:1.4em; }
div.avis dt { float:left; clear:left; width:20%; font-size:.9em; font-variant:small-caps; font-weight:bold; text-align:right; line-height:1.2em; padding:.1em 1em .1em 0; }
div.avis dd { float:left; width:75%; line-height:1.2em; padding:.1em 0 .5em 0; }
div.avis ul { list-style:none; margin-left:0; }
div.avis li { padding-left:1.6em; background:#fff url(../imgs/doc.gif) no-repeat 0 .1em; }
div.avis p { text-align:center; padding-top:1.5em; border-top:1px dashed #ddd; }
div.avis p button { font-size:1.3em; }

/* ajuda */

#ajudaBoto { float:right; margin:1em 1em 0 0; }

#ajuda { float:right; display:none; width:17%; background-color:#dcf9bb; padding:1em; font-size:.9em; margin-top:1em; border-top:1px solid #93cd52; border-left:1px solid #93cd52; }
#ajuda h2 { background:url(../imgs/botons/ajuda.gif) no-repeat 0em 50% #dcf9bb; font-size:1.2em; padding-left:2em; }
.ajuda { clear:none; float:left; width:75%; }

th.ajudaColumna { background:url(../imgs/botons/ajuda.gif) no-repeat 1em 50%; padding-left:3em !important; cursor:help; }
th.ajudaColumna:hover { background-color:#dcf9bb; }
#ajudaColumna { position:absolute; top:0; left:0; width:40%; display:none; padding:1em 1em 1em 2em; background-color:#dcf9bb; font-size:.9em; border:1px solid #93cd52; border-bottom:0; }
.ajudaUl li {margin-left: 10px}
.botonAlta {margin-left:3%}
/*
#documentos{
	margin-bottom: 15px; 
	margin-top:0; 
	float: left; 
	width: 100%;
	position:relative;
}
*/

/* ESCRITORIO DOCS */

#escritorio_docs { overflow:hidden; width:100%; margin-bottom:1.5em; }
#escritorio_docs p.boton { float:left; width:20%; text-align:right; padding-right:0 !important; margin:0 !important; }
#escritorio_docs p.boton input { padding:0 .5em; margin:0; cursor:pointer; }
#escritorio_docs a { text-decoration:underline; cursor:pointer; }

#contenido_docs { overflow:hidden; float:left; width:79%; }

#contenido_docs p.noHay { font-style:italic; padding-left:1em; margin-top:0; }

#documentos {  }
#documentos ul { list-style:circle; margin-left:2em; margin-bottom:1em; }
#documentos ul li { padding-bottom:.4em; }
#documentos a.firmar { color:#c00; }

#anexar { padding-left:1em; border:1px solid #ccc; }
#anexar div.form { overflow:hidden; width:100%; }
#anexar div.col { float:left; width:30%; }
#anexar p label { display:inline; width:inherit; padding:0 .5em 0 0 !important; margin:0 !important; }
#anexar p label.enLinia { margin-left:3em; }

#botonAlta { margin-right:.5em !important; }

#firmarDocumentosApplet { padding-left:1em; border:1px solid #ccc; }

#mensaje { display:none; position:fixed; top:0; left:0; z-index:10; width:30em; color:#000; padding:1em 1em 1em 7em; }
#mensaje p.titulo { font-size:1.4em; }
#mensaje ul { list-style:circle; margin-left:1.5em; }
#mensaje ul li { margin-bottom:.4em; }
#mensaje .botonera { text-align:left !important; padding:1.5em 0 1em 0; }
#mensaje button { overflow:visible; font-size:1.1em; font-weight:bold; padding:.2em 1em; margin:0 .5em; cursor:pointer; }

div.ejecutando { background:#fff url(../imgs/mensaje/ejecutando.gif) no-repeat 1em 1.5em; border:1em solid #e9d6c9; }
div.error { background:#fff url(../imgs/mensaje/error.gif) no-repeat 1em 1.5em; border:1em solid #c00; }
div.correcto { background:#fff url(../imgs/mensaje/correcto.gif) no-repeat 1em 1.5em; border:1em solid #aaddad; }
div.atencion { background:#fff url(../imgs/mensaje/atencion.gif) no-repeat 1em 1.5em; border:1em solid #f2bc00; }
div.informacion { background:#fff url(../imgs/mensaje/informacion.gif) no-repeat 1em 1.5em; border:1em solid #d3eff0; }

#fondo { display:none; position:absolute; z-index:2; top:0; left:0; background-color:#fff; }
