<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
   
   <distributable/>
	
	<servlet>
      <servlet-name>formularioIncidencias</servlet-name>
      <servlet-class>es.caib.sistra.incidencias.servlet.FormularioIncidenciaservlet</servlet-class>
	</servlet>
	
    <servlet-mapping>
      <servlet-name>formularioIncidencias</servlet-name>
      <url-pattern>/formulario</url-pattern>
     </servlet-mapping>
	
	<welcome-file-list>
      <welcome-file>/index.jsp</welcome-file>
   </welcome-file-list>
   
   <security-constraint>
    <web-resource-collection>
        <web-resource-name>formularioIncidencias</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>tothom</role-name>
    </auth-constraint>
	</security-constraint>

	<login-config><auth-method>FORM</auth-method><realm-name><![CDATA[Autenticacion]]></realm-name></login-config>

	<security-role>
    	<role-name>tothom</role-name>
	</security-role> 

</web-app>
