body
{
	background-color : #FADB99;
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
}

p
{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
	vertical-align: top
}

td
{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
}

#centrar
{
	width: 100%;
	height: 100%;
	border: 0;
}

#general
{
	width: 786px;
	background-image : url(../images/fondo.gif);
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
}

#cuerpo
{
	border: 0px;
	width: 786px;
	background-image: url(../images/fondo_logo.gif);
	background-repeat: no-repeat;
	font-family: Verdana, Arial;
}

#menu
{
	width: 203px;
	height: 390px;
	vertical-align: top;
	font-family: Verdana, Arial;
}

#ayuda
{
	 padding-left: 20px;
	 padding-top: 17px;
	 width: 156px;
	 font-family: Verdana, Arial;
}

#titulo
{
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: White;
	width: 156px;
	font-family: Verdana, Arial;
	font-size: 11px;
	color: White;
	font-weight: bold;
}

#subtitulo
{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
	width: 156px;
}

#nombre_campo
{
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: White;
	width: 156px;
	font-family: Verdana, Arial;
	font-size: 11px;
	color: White;
	font-weight: bold;
}

#ayuda_campo
{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
	width: 156px;
}

#pantallas
{
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
	width: 156px;
}

#pantallas a
{
    text-decoration: none;
    color: Black;
}

#canal
{
	width: 583px;
	height: 390px;
	vertical-align: top;
	font-family: Verdana, Arial;
}

#contenido
{
	margin-left: 120px;
	margin-right: 20px;
	font-family: Verdana, Arial;
}

#bajos
{
	width: 786px;
	height: 12px;
	background-image : url(../images/bajos.gif);
	background-repeat: no-repeat;
	font-family: Verdana, Arial;
	font-size: 11px;
	color: Black;
}

.leyenda
{
	padding-left: 20px;
	font-weight: bold;
	font-family: Verdana, Arial;
}



h1
{
	margin-left: 20px;
	width: 270px;
	padding-top: 15px;
	font-family: Verdana, Arial;
	font-size: 22px;
}

.frm
{
	border : 1px;
	border-style: solid;
	font-family: Verdana, Arial;
	font-size: 11px;
}

.frmro
{
	border : 1px;
	border-style: solid;
	font-family: Verdana, Arial;
	font-size: 11px;
	background-color: #FFFFCC;
}

.error
{
	color: Red;
}

textarea
{
	overflow : auto;
}

/* ******************** */
/* Estilos para labels. */
/* ******************** */

.label1{
	color : Black;
	font-weight : bold;
	font-family: Verdana, Arial;
	font-size: 13px;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-bottom-color : Black;
}
.label2{
	color : Black;
	font-weight : normal;
	font-family: Verdana, Arial;
	font-size: 13px;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : Black;

}
.label1maj{
	color : Black;
	font-weight : bold;
	font-family: Verdana, Arial;
	font-size: 13px;
	text-transform : uppercase;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	border-bottom-color : Black;
}
.label2maj{
	color : Black;
	font-weight : normal;
	font-family: Verdana, Arial;
	font-size: 13px;
	text-transform : uppercase;
	margin-top:5px;
	margin-bottom:10px;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : Black;
}
.labelnorm{
	color : Black;
	font-weight : normal;
	font-family: Verdana, Arial;
	font-size: 11px;
	margin-top:2px;
	margin-bottom:6px;
}
.labelnormb{
	color : Black;
	font-weight : bold;
	font-family: Verdana, Arial;
	font-size: 11px;
	margin-top:2px;
	margin-bottom:6px;
}
